body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fbedd2;
    text-align: left; /* align left */
}

h1 {
    margin-top: 20px;
    text-align: center; /* centered */
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

#content {
    width: 45%; /* align left */
}

#instructions {
    margin: 10px;
    font-size: 18px;
}

#answers {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}

#score {
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}

#map {
    width: 60%; /* right side map */
    height: 700px;
    border: 4px solid #333;
    border-radius: 10px;
}

#timerContainer {
    margin: 10px;
    font-size: 20px;
    visibility: hidden; /* initially hidden */
}

#playButton {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: dodgerblue; /* bright blue */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#playButton:hover {
    background-color: #0056b3; /* darker blue on hover */
    transform: scale(1.05); /* slight zoom effect */
}

